push constant 3
pop static 0
push constant 4
pop static 1
push static 0
push static 1
push constant 2
call Math.multiply 2
add
pop static 2
push static 0
push static 1
gt
not
if-goto L0
push static 2
push static 1
sub
pop static 2
goto L1
label L0
push static 2
push static 1
add
pop static 2
label L1
label L2
push static 0
push constant 0
gt
not
if-goto L3
push static 0
push constant 1
sub
pop static 0
goto L2
label L3
push constant 0
pop static 0
label L4
push static 0
push constant 10
lt
not
if-goto L5
push static 1
push constant 1
add
pop static 1
push static 0
push constant 1
add
pop static 0
goto L4
label L5
